/*
 #14171a charcoal
 #787878 gray
 #cf2228 red
*/

@import url('fonts.css');

/*****************************************************************************
 * Global CSS
 ****************************************************************************/

body {
  background-color: #14171a;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#14171a, #333333);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%,
    0% 100%, from(#14171a), to(#333333));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#14171a, #333333);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#14171a, #333333);
  height: 100%;
  background-repeat: no-repeat;
  margin: 0px;
  background-attachment: fixed;
}

.page {
  margin: 20px auto;
  width: 960px;
  background-color: #ffffff;
  background-image: url("../images/backgrounds/white-grunge-background.jpg");
}

h2, h3, #copyright {
  text-align: center;
  color: #787878;
  font-family: 'Fauna One', serif;
}

header {
  width: 100%;
  overflow: auto;
  margin-bottom: 60px;
  background-color: #ffffff;
  background-image: url("../images/backgrounds/header-background.jpg");
}

#logo-name {
  color: #14171a;
  font-size: 200%;
  font-weight: bold;
  text-transform: uppercase;
}

#logo-container {
  float: left;
  margin-left: 10px;
}

nav {
  float: right;
  text-transform: uppercase;
  margin-top: 9px
}

nav ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 120%;
}

nav li{
  margin: 0px 10px;
  display: inline;
}

nav a{
  color: #000000;
}

nav a:hover, #logo-name:hover, .current  {
  color: #cf2228;
}

a {
  text-decoration: none;
  color: #cf2228;
  font-family: 'Rubik', 'Ubuntu', sans-serif;
}

p {
  color: #707070;
  font-family: 'Rubik', 'Ubuntu', sans-serif;
}

h4 {
  color: #cf2228;
}

footer {
  border-top: 1px solid #14171a;
  margin: 30px 0px;
}

#copyright {
  padding: 20px 0px;
}

/****************************************************************************
 * index.html specific CSS
 ***************************************************************************/
#skills-and-xp {
  margin: 30px 0px;
  overflow: auto;
  width: 100%;
}

#primary-skills {
  width: 960px;
  overflow: auto;
  margin: 30px auto;
}

#secondary-skills {
  width: 720px;
  overflow: auto;
  margin: 30px auto;
}

.skill-entry {
  width: 180px;
  margin: 20px 30px;
  float: left;
  font-family: "Inconsolata", monospace;
}

.skill-entry p{
  font-size: 80%;
  text-align: justify;
  margin: 15px 0px;
}

.skill-entry h4{
  text-align: center;
  margin: 0px auto;
  width: 70%;
  border-bottom: 4px solid;
}


/****************************************************************************
 * about.html specific CSS
 ***************************************************************************/
#about-me {
  overflow: auto;
  width: 100%;
  margin: 30px auto;
}

#about-image-container {
  margin: 30px 15px;
  width: 450px;
  height: 450px;
  float: left;
}

#about-image-container img {
  width: 100%;
  height: 100%;
}
 
#bio {
  width: 430px;
  height: 450px;
  float: left;
  margin: 30px 15px;
  border-left: 1px solid;
}

#bio p{
  margin: 50px 30px;
}


/****************************************************************************
 * contact.html specific CSS
 ***************************************************************************/
#contact {
  margin: 30px 0px;
  overflow: auto;
  width: 100%;
}

#contact-info{
  width: 300px;
  text-align: left;
  float: left;
  margin-left: 15px;
  margin-right: 153px;
}

#contact-info p{
  margin: 0px 0px 15px 0px;
}

#contact-links {
  width: 300px;
  float: left;
  margin-left: 153px;
  margin-right: 15px;
}

.contact-entry td {
  padding: 0px 10px;
  color: #cf2228;
  font-family: "Rubik", "Ubuntu", sans-serif;
}

.contact-entry img {
  width: 20px;
  height: 20px;
  margin: 0px auto;
  padding-top: 4px;
}


/*****************************************************************************
 * projects.html specific CSS
 ****************************************************************************/

#projects {
  margin: 30px 0px;
}

.project-entry {
  overflow: auto;
  width: 720px;
  margin: 60px auto;
  border-bottom: 2px solid;
}

.project-image-container {
  width: 250px;
  float: left;
  margin: 0px 10px;
}

.project-image-container img {
  width: 100%;
  height: auto;
}

.project-description {
  width: 400px;
  float: left;
  margin: 0px 10px;
}

.project-title {
  color: #cf2228;
  margin-top: 0px;
  text-align: left;
}

.project-description p, .project-description a{
  font-size: 80%;
  margin-top: 0px;
}

.last-project {
  border-bottom: 0px;
}
